* {
	margin: 0;
	padding: 0;
}

.contener {
	height: 100%;
	width: 100%;
	background-color: rgba(2, 225, 139, 1.0);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.main {
	width: 320px;
	height: 480px;
	position: relative;
	margin: 5% auto;
	background: #666;
	box-shadow: 5px 5px 20px 1px #666;
	padding: 10px 30px;
	border-radius: 20px;
	overflow: hidden;
}

/*form*/

.heading {
	font-weight: bold;
	margin-top: -10px;
	font-size: 38px;
	text-align: center;
	color: rgba(2, 225, 139, 1.0);
}

.google_box {
	text-align: center;
	margin-top: -20px;
}

.btn_style {
	margin-top: 20px;
	font-weight: 500;
	color: rgba(2, 225, 139, 1.0);
}

.btn-light:hover {
	background-color: rgba(2, 225, 139, 0.9);
	border-color: rgba(2, 225, 139, 0.5);
}

label {
	/*font-weight: bold;*/
	font-size: 18px;
	color: rgba(2, 225, 139, 1.0);
	margin-top: 10px;
	margin-bottom: 5px;
}

.form-control {
	border-radius: 15px;

}

.form-check-input {
	margin-top: 15px;
}

#log_in {
	width: 250px;
	transition: 0.3s;
}

.signout {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 10;
}


main {
	position: relative;
	height: 70vh;
	overflow-y: scroll;
	padding:0 5px;
}

main::-webkit-scrollbar {
	width: 0.25rem;
}

main::-webkit-scrollbar-track {
	background: rgb(44, 63, 55);
}

main::-webkit-scrollbar-thumb {
	background: rgb(2, 225, 139);
}
ul,
li {
	text-align: left;
	list-style: none;
}

p {
	max-width: 500px;
	margin-bottom: 4px;
	margin-left: 5px;
	line-height: 20px;
	padding: 8px 20px;
	border-radius: 25px;
	position: relative;
	color: white;
	text-align: center;
}

.message {
	display: flex;
	align-items: center;
}


.send {
	flex-direction: row-reverse;
}

.send p {
	color: white;
	background: rgba(2, 225, 139, 0.884);
	align-self: flex-end;
}

.received p {
	background: #e5e5eaf3;
	color: black;
}

.dp {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 2px 5px;
}